<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reporting-period-heading"
        data-cy="ReportingPeriodCreateUpdateHeading"
        jhiTranslate="cRepoExtensioApp.reportingPeriod.home.createOrEditLabel"
      >
        Create or edit a Reporting Period
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cRepoExtensioApp.reportingPeriod.day" for="field_day">Day</label>
          <input type="number" class="form-control" name="day" id="field_day" data-cy="day" formControlName="day" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cRepoExtensioApp.reportingPeriod.week" for="field_week">Week</label>
          <input type="number" class="form-control" name="week" id="field_week" data-cy="week" formControlName="week" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cRepoExtensioApp.reportingPeriod.month" for="field_month">Month</label>
          <input type="text" class="form-control" name="month" id="field_month" data-cy="month" formControlName="month" />
          <div *ngIf="editForm.get('month')!.invalid && (editForm.get('month')!.dirty || editForm.get('month')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('month')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="cRepoExtensioApp.reportingPeriod.year" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
          <div *ngIf="editForm.get('year')!.invalid && (editForm.get('year')!.dirty || editForm.get('year')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('year')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('year')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
