<div>
  <h2 id="page-heading" data-cy="ReportDiseaseOutbreakHeading">
    <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.home.title">Report Disease Outbreaks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-disease-outbreak"
        [routerLink]="['/report-disease-outbreak/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.home.createLabel">Create a new Report Disease Outbreak</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reportDiseaseOutbreaks?.length === 0">
    <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.home.notFound">No Report Disease Outbreaks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reportDiseaseOutbreaks && reportDiseaseOutbreaks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="laboratoryId">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.laboratoryId">Laboratory Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="laboratory">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.laboratory">Laboratory</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="outbreak">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.outbreak">Outbreak</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disease">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.disease">Disease</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.comment">Comment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportingPeriodId">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.reportDiseaseOutbreak.reportingPeriodId">Reporting Period Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reportDiseaseOutbreak of reportDiseaseOutbreaks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/report-disease-outbreak', reportDiseaseOutbreak.id, 'view']">{{ reportDiseaseOutbreak.id }}</a>
          </td>
          <td>{{ reportDiseaseOutbreak.laboratoryId }}</td>
          <td>{{ reportDiseaseOutbreak.laboratory }}</td>
          <td jhiTranslate="{{ 'cRepoExtensioApp.Outbreak.' + reportDiseaseOutbreak.outbreak }}">{{ reportDiseaseOutbreak.outbreak }}</td>
          <td>{{ reportDiseaseOutbreak.disease }}</td>
          <td>{{ reportDiseaseOutbreak.comment }}</td>
          <td>{{ reportDiseaseOutbreak.reportingPeriodId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a
                [routerLink]="['/report-disease-outbreak', reportDiseaseOutbreak.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a
                [routerLink]="['/report-disease-outbreak', reportDiseaseOutbreak.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(reportDiseaseOutbreak)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reportDiseaseOutbreaks && reportDiseaseOutbreaks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
