<div>
  <h2 id="page-heading" data-cy="LaboratoryStockHeading">
    <span jhiTranslate="cRepoExtensioApp.laboratoryStock.home.title">Laboratory Stocks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cRepoExtensioApp.laboratoryStock.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laboratory-stock"
        [routerLink]="['/laboratory-stock/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cRepoExtensioApp.laboratoryStock.home.createLabel">Create a new Laboratory Stock</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laboratoryStocks?.length === 0">
    <span jhiTranslate="cRepoExtensioApp.laboratoryStock.home.notFound">No Laboratory Stocks found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="laboratoryStocks && laboratoryStocks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="laboratoryId">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.laboratoryId">Laboratory Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="laboratory">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.laboratory">Laboratory</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stockItemId">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.stockItemId">Stock Item Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stockItem">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.stockItem">Stock Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="departmentId">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.departmentId">Department Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="department">
            <div class="d-flex">
              <span jhiTranslate="cRepoExtensioApp.laboratoryStock.department">Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laboratoryStock of laboratoryStocks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/laboratory-stock', laboratoryStock.id, 'view']">{{ laboratoryStock.id }}</a>
          </td>
          <td>{{ laboratoryStock.laboratoryId }}</td>
          <td>{{ laboratoryStock.laboratory }}</td>
          <td>{{ laboratoryStock.stockItemId }}</td>
          <td>{{ laboratoryStock.stockItem }}</td>
          <td>{{ laboratoryStock.departmentId }}</td>
          <td>{{ laboratoryStock.department }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/laboratory-stock', laboratoryStock.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/laboratory-stock', laboratoryStock.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(laboratoryStock)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="laboratoryStocks && laboratoryStocks.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
