<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="laboratoryStock">
      <h2 data-cy="laboratoryStockDetailsHeading">
        <span jhiTranslate="cRepoExtensioApp.laboratoryStock.detail.title">Laboratory Stock</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ laboratoryStock.id }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.laboratoryId">Laboratory Id</span></dt>
        <dd>
          <span>{{ laboratoryStock.laboratoryId }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.laboratory">Laboratory</span></dt>
        <dd>
          <span>{{ laboratoryStock.laboratory }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.stockItemId">Stock Item Id</span></dt>
        <dd>
          <span>{{ laboratoryStock.stockItemId }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.stockItem">Stock Item</span></dt>
        <dd>
          <span>{{ laboratoryStock.stockItem }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.departmentId">Department Id</span></dt>
        <dd>
          <span>{{ laboratoryStock.departmentId }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.laboratoryStock.department">Department</span></dt>
        <dd>
          <span>{{ laboratoryStock.department }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/laboratory-stock', laboratoryStock.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
