<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reportingPeriod">
      <h2 data-cy="reportingPeriodDetailsHeading">
        <span jhiTranslate="cRepoExtensioApp.reportingPeriod.detail.title">Reporting Period</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ reportingPeriod.id }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.reportingPeriod.day">Day</span></dt>
        <dd>
          <span>{{ reportingPeriod.day }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.reportingPeriod.week">Week</span></dt>
        <dd>
          <span>{{ reportingPeriod.week }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.reportingPeriod.month">Month</span></dt>
        <dd>
          <span>{{ reportingPeriod.month }}</span>
        </dd>
        <dt><span jhiTranslate="cRepoExtensioApp.reportingPeriod.year">Year</span></dt>
        <dd>
          <span>{{ reportingPeriod.year }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/reporting-period', reportingPeriod.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
